.card-body {
  width: 100%;
}

.help {
  text-align: right;
  width: 20%;
  color: darkred;
}

#login-card {
  align-content: center;
  height: 400px;
  margin-top: 30%;
  background: lavender;
}

.login-card-title {
  text-align: center;
}

.login-label {
  margin-bottom: 0px;
}

.login-input {
  width: 100%;
}